.color-marigold {
    color: #F7CE3E;
}

.color-steal {
    color: #0A1612;
}

.color-denim {
    color: #1A2930;
}

.color-screen {
    color: #C5C1C0;
}

.bg-color-marigold {
    background-color: #F7CE3E;
}

.bg-color-steal {
    background-color: #0A1612 !important;
}

.bg-color-denim {
    background-color: #1A2930 !important;
}

.bg-color-screen {
    background-color: #C5C1C0;
}


.title-carousel, .text-carousel {
    color: white  !important;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .6) !important;
    font-size: 500px !important;
}

.text-card-thumbnail {
    font-size: .3rem !important;
}

.section img {
    width: 162px;
}

.section {
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 75% !important;
    display: flex;
    margin: auto;
}

.news img{
    max-width: 200px;
    height: auto;
}

nav form {
    padding: 0 4%;
}

.width-75 {
    width: 75% !important;
    padding: 0 1%;
}

nav input[type=search]:focus {
    outline: none;
}

.width-35 {
    width: 35%;
}

.width-80 {
    width: 80%;
}

.news-title {
    font-size: 1.4rem !important; 
    font-weight: bolder !important;
}

.news-content {
    font-size: 1rem !important; 
    font-weight: bolder !important;
}

.news-date small{
    font-size: .875em !important; 
}

.comentario-item {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

@media screen and (max-width: 1400px){
    nav input[type=search] {
        width: 100%;
    }
    nav form {
        width: 25vw !important;
    }
    section {
        width: 100% !important;
        display: inline;
    }
    .width-35 {
        width: 75%;
    }
}

@media screen and (max-width: 800px){
    nav h6 {
        visibility: hidden;
    }
    nav form {
        padding: 0;
    }
    .section img {
        width: 62px;
    }
    .width-75 {
        width: 100% !important;
    }
    .news img{
        width: 94px;
        height: 94px;
        position: center;
        size: cover;
    }
    .news-title {
        font-size: 1.2rem !important; 
        font-weight: bolder !important;
    }
    .news-content {
        font-size: .8rem !important; 
        font-weight: bolder !important;
    }
    .news-date {
        font-size: .69rem !important; 
        font-weight: bold !important;
    }
}